@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #D48166; /* Голубой */
  --dark-color: #373A36;     /* Тёмно-серый */
  --light-color: #E6E2DD;    /* Светло-серый */
  --gradient: linear-gradient(135deg, #D48166 0%, #E6E2DD 100%);
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Poppins', Arial, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: var(--dark-color);
}

button {
  background: var(--gradient);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #bf6c4f;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
